@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x : hidden;
}

nav {
    background-color: #008374;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-text {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.img-logo {
    margin-right: 18rem;
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

li {
    margin: 0 10px;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.links:hover {
    text-decoration: none;
}

.links::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: white;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.links:hover::after {
    width: 100%;
}

.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 69vh;
    background-color: #008374;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 445px;
    margin-right: 10rem;
}

.h1-main {
    font-weight: 600;
    font-size: 42px;
    margin: 0px 0px 14px;
}

.p-main {
    text-align: justify;
    font-size: 15px;
    margin: 0px 0px 42px;
}

:is(.h1-main, .p-main) {
    color: #FFFFFF;
}

.explore {
    display: flex;
    width: 167px;
    height: 43px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #FFFFFF;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.explore:hover {
    color: #111111;
    background-color: #FFFFFF;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Objetivos */

.objetivos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 55px 0px 0px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1.8rem;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 55px 0px 0px 0px;
    background-color: #FFFFFF;
    width: 350px;
    height: 274px;
    margin: 0px 0px 30px;
    padding: 40px;
    border-radius: 10px;
    transition-duration: 800ms;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards:hover {
    background-color: #FFFFFF;
    transform: scale(1.1);
    transition-duration: 800ms;
}

.img-cards {
    width: 70px;
    height: 72px;
    margin: 0px 35px 8px;
}

.title-card {
    color: #4D4F51;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
}

.text-card {
    margin-top: 0.5rem;
    font-size: 15px;
    text-align: justify;
    white-space: pre-line;
}
